.root {
    -fx-text-fill: #376bc5;
    -fx-background-color: #FAFAFA;
}

.label-header-big .text {
    -fx-fill: linear-gradient(#6c98d3, #eaf6fd, #6c98d3);
}

.label-header-small .text {
    -fx-fill: #eaf6fd;
}

.anchor-pane-header {
    -fx-background-color: #376bc5;

}

.anchor-pane-in-tab {
    -fx-background-color: linear-gradient(#93c2dd 10%, #fafafa 90%);
    -fx-border-color: #376bc5;
    -fx-border-width: 1 0 0 0;
}

.anchor-pane-main {
    -fx-background-color: linear-gradient(#93c2dd 10%, #fafafa 90%);
}


.label .text {
    -fx-fill: #376bc5;
}

.toggle-button {
    -fx-background-color: #61a4ee,
    linear-gradient(#a7d9f5, #eaf6fd, #a7d9f5);
}

.toggle-button .text {
    -fx-fill: #9a2727;
}

.toggle-button:selected .text {
    -fx-fill: #52b552;
}

.toggle-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 150, 0.6), 5, 0.0, 0, 1);
}

.toggle-button:selected {
    -fx-background-color: #57a8d7,
    linear-gradient(#eaf6fd, #a7d9f5, #eaf6fd);
}

.toggle-button-active .text, .toggle-button-closed .text {
    -fx-fill: #3a7ad7;
}

.toggle-button-active:selected {
    -fx-background-color: #c43737,
    linear-gradient(#d17470, #eac1b9, #d17470);
}

.toggle-button-active:selected .text {
    -fx-fill: #992b2b;
    -fx-font-weight: Bold;
}

.toggle-button-closed:selected {
    -fx-background-color: #2d9348,
    linear-gradient(#7ed17c, #d7ffcf, #7ed17c);
}

.toggle-button-closed:selected .text {
    -fx-fill: #397e39;
    -fx-font-weight: Bold;
}


.tab-pane .tab-header-area .tab-label {
    -fx-font-family: System;
    -fx-text-fill: #376bc5;
    -fx-font-size: 11px;
}


.tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color: #93c2dd;
}

.tab-pane .tab-header-area .headers-region .tab {
    -fx-pref-height: 33;
    -fx-background-color: #57a8d7;
    -fx-background-insets: 1, 1, -3, 1;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: #376bc5;
    -fx-border-radius: 5 5 0 0;
    -fx-border-insets: 1, 1, 1, 1;
    -fx-border-width: 0;
}

.tab-pane .tab-header-area .headers-region .tab:selected {
    -fx-background-color: #7cb6e3;
    -fx-background-radius: 5 5 0 0;
    -fx-focus-color: transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: dotted;
}

.tab-pane .tab-header-area .headers-region .tab:selected .tab-label {
    -fx-text-fill: White;
}


.table-row-cell:disabled {
    -fx-opacity: 1;
}

.table-row-cell:selected .table-cell:odd {
    -fx-background-color: #376bc5;
    -fx-text-fill: white;
    -fx-border-color: #376bc5;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #376bc5;
    -fx-text-fill: white;
    -fx-border-color: #376bc5;
}

.table-row-cell:selected:disabled .table-cell:odd {
    -fx-opacity: 1;
    -fx-background-color: #376bc5;
    -fx-text-fill: white;
    -fx-border-color: #376bc5;
}

.table-row-cell:selected:disabled .table-cell {
    -fx-opacity: 1;
    -fx-background-color: #376bc5;
    -fx-text-fill: white;
    -fx-border-color: #376bc5;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-border-color: darkgrey;
}

.table-view .scroll-bar:vertical .track {
    -fx-background-color: #d3eeff;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #93c2dd;
}

.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: #93c2dd;
    -fx-border-color: #d3eeff;
    -fx-border-width: 2;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
}


.table-view:disabled {
    -fx-opacity: 1;
}

.table-view:disabled .cell, .table-view:disabled .cell:odd {
    -fx-text-fill: #90a7b6;
    -fx-background-color: #D4F0FF;
}

.table-view .cell {
    -fx-alignment: CENTER-LEFT;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-alignment: CENTER;
}


.table-view .column-header-background .label .text {
    -fx-fill: #376bc5;
}

.table-view .column-header-background .nested-column-header .table-column {
    -fx-background-color: linear-gradient(#93c2dd, #fafafa, #93c2dd);
    -fx-border-color: #376bc5;
    -fx-border-width: 0 1 0 0;
}

.table-view .cell {
    -fx-background-color: #d3eeff;
    -fx-text-fill: #376bc5;
}

.table-view .cell:odd {
    -fx-background-color: #e1faff;
    -fx-text-fill: #376bc5;
}

.table-view .cell:empty, .table-view .cell:empty:odd {
    -fx-background-color: #edfffd;
}

.table-view-active .column-header-background .label {
    -fx-background-color: transparent;
}

.table-view-active .column-header-background .label .text {
    -fx-fill: #992b2b;
}

.table-view-active .column-header-background .nested-column-header .table-column {
    -fx-background-color: linear-gradient(#d17470, #eac1b9, #d17470);
    -fx-border-color: #992b2b;
    -fx-border-width: 0 1 0 0;
}

.table-view-active .column-header-background .nested-column-header {
    -fx-border-color: #992b2b;
    -fx-border-width: 1 1 1 1;
}

.table-view-active .placeholder {
    -fx-background-color: #ead6d3;
    -fx-border-color: #992b2b;
    -fx-border-width: 0 1 1 1;
}

.table-view-active .cell {
    -fx-background-color: #ead6d3;
    -fx-text-fill: #671C1C;
}

.table-view-active .cell:odd {
    -fx-background-color: #e3cbc8;
    -fx-text-fill: #671C1C;
}

.table-view-active .cell:empty, .table-view-active .cell:empty:odd {
    -fx-background-color: #ead6d3;
}

.table-view-closed .column-header-background .label {
    -fx-background-color: transparent;
}

.table-view-closed .column-header-background .label .text {
    -fx-fill: #397e39;
}

.table-view-closed .column-header-background .nested-column-header .table-column {
    -fx-background-color: linear-gradient(#7ed17c, #d7ffcf, #7ed17c);
    -fx-border-color: #397e39;
    -fx-border-width: 0 1 0 0;
}

.table-view-closed .column-header-background .nested-column-header {
    -fx-border-color: #397e39;
    -fx-border-width: 1 1 1 1;
}

.table-view-closed .placeholder {
    -fx-background-color: #deffd9;
    -fx-border-color: #397e39;
    -fx-border-width: 0 1 1 1;
}

.table-view-closed .cell {
    -fx-background-color: #deffd9;
    -fx-text-fill: #234723;
}

.table-view-closed .cell:odd {
    -fx-background-color: #ccf1c5;
    -fx-text-fill: #234723;
}

.table-view-closed .cell:empty, .table-view-closed .cell:empty:odd {
    -fx-background-color: #deffd9;
}

.menu-bar .label .text {
    -fx-fill: #d2e7f9;
}

.menu-bar {
    -fx-background-color: #57a8d7;
}

.menu:hover {
    -fx-background-color: #376bc5;
}

.menu-item .label .text {
    -fx-fill: #d2e7f9;
}

.context-menu {
    -fx-background-color: #57a8d7;
    -fx-border-color: #376bc5;
    -fx-border-width: 1 1 1 1;
}

.menu-item {
    -fx-padding: 5 5 5 5;
}

.menu-item:focused {
    -fx-background-color: #376bc5;
}

.menu-item:focused .label .text {
    -fx-background-color: #376bc5;
    -fx-fill: #d2e7f9;
}

.separator .line {
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 0;
    -fx-border-color: #376bc5;
}

.button {
    -fx-background-color: linear-gradient(#a7d9f5, #eaf6fd, #a7d9f5);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5;
    -fx-border-color: #61a4ee;
    -fx-border-radius: 5;
    -fx-text-fill: #376bc5;
    -fx-font-size: 11px;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 150, 0.6), 5, 0.0, 0, 1);
}

.button:focused {
    -fx-border-color: #376bc5;
    -fx-border-width: 1;
    -fx-border-style: dotted;
}

.button:pressed {
    -fx-background-color: #57a8d7,
    linear-gradient(#eaf6fd, #a7d9f5, #eaf6fd);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 150, 0.6), 3, 0.0, 0, 1);
    -fx-label-padding: 2 0 0 2;
}

.user-button {
    -fx-background-image: url('res/userid.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

.user-button:pressed {
    -fx-background-image: url('res/userid.png');
    -fx-background-size: 98% 98%;
    -fx-background-color: transparent;
}

.user-button:focused {
    -fx-border-color: transparent;
}

.settings-button {
    -fx-background-image: url('res/settings.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

.settings-button:pressed {
    -fx-background-image: url('res/settings.png');
    -fx-background-size: 97% 97%;
    -fx-background-color: transparent;
}

.settings-button:focused {
    -fx-border-color: transparent;
}

.settings-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 150, 0.6), 5, 0.0, 0, 1);
}

.text-field {
    -fx-text-fill: #233d7b;
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 5;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5;
}

.text-area {
    -fx-text-fill: #233d7b;
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 5;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5
}

.password-field {
    -fx-text-fill: #233d7b;
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 5;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5
}

.combo-box {
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 5 5 5 5;
    -fx-background-insets: 1 1 1 1;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5 5 5 5;
}

.combo-box:disabled {
    -fx-opacity: 1.0;
    -fx-background-color: #d6d6d6;
}

.combo-box:disabled .list-cell {
    -fx-opacity: 1.0;
    -fx-text-fill: #3a7ad7;
}

.combo-box .arrow-button {
    -fx-background-color: #a7d9f5;
    -fx-background-radius: 0 5 5 0;
    -fx-border-color: #57a8d7;
    -fx-border-width: 0 0 0 1;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #a7d9f5;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #6681b7;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:selected:hover {
    -fx-background-color: #376bc5;
    -fx-text-fill: white;
}

.check-box {
    selected-box-color: #233d7b;
    box-color: #233d7b;
    mark-color: white;
}

.check-box .text {
    -fx-opacity: 1.0;
    -fx-fill: #233d7b;
}

.check-box .box {
    -fx-background-color: #376bc5;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: white;
}

.radio-button {
    -fx-opacity: 1.0;
    -fx-text-fill: #233d7b;
}

.radio-button:disabled, .radio-button:disabled .radio {
    -fx-opacity: 0.7;
}

.radio-button .radio {
    -fx-opacity: 1.0;
    -fx-background-color: #8ca8d3;
    -fx-background-image: null;
}

.label-view-mode .text {
    -fx-fill: green;
}

.label-edit-mode .text {
    -fx-fill: red;
}

.arrow-up-button {
    -fx-background-image: url('res/arrowup.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

.arrow-up-button:disabled {
    -fx-opacity: 0.6;
}

.arrow-up-button:pressed {
    -fx-background-image: url('res/arrowup.png');
    -fx-background-size: 98% 98%;
    -fx-background-color: transparent;
}

.arrow-up-button:focused {
    -fx-border-color: transparent;
}

.arrow-down-button {
    -fx-background-image: url('res/arrowdown.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

.arrow-down-button:disabled {
    -fx-opacity: 0.6;
}

.arrow-down-button:pressed {
    -fx-background-image: url('res/arrowdown.png');
    -fx-background-size: 98% 98%;
    -fx-background-color: transparent;
}

.arrow-down-button:focused {
    -fx-border-color: transparent;
}

.date-picker {
    -fx-background-insets: 1;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5 5 5 5;
}

.date-picker .text-field {
    -fx-border-width: 1 0 1 1;
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}

.date-picker .arrow-button {
    -fx-background-color: linear-gradient(#a7d9f5, #eaf6fd, #a7d9f5);
    -fx-border-color: #57a8d7;
    -fx-background-radius: 0 5 5 0;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 0 5 5 0;
}

.date-picker .arrow-button:pressed {
    -fx-background-color: linear-gradient(#eaf6fd,#a7d9f5, #eaf6fd);
}

.date-picker-popup .month-year-pane {
    -fx-border-width: 0 0 1 0;
}

.date-picker-popup .date-cell {
    -fx-border-width: 1;
}
.date-picker-popup .date-cell:hover {
    -fx-background-color: #a7d9f5;
    -fx-text-fill: #c4c5c2;
}
.date-picker-popup .today {
}

.date-picker-popup .selected {
}
