.root {
    -fx-text-fill: #376bc5;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view-active .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #992b2b;
    -fx-text-alignment: CENTER;
}

.table-view-active .column-header-background .nested-column-header .table-column {
    -fx-background-color: #c46461,
    linear-gradient(#eac1b9, #d17470);
    -fx-border-color: #992b2b;
    -fx-border-width: 0 1 0 0;
}

.table-view-active .column-header-background .nested-column-header {
    -fx-border-color: #992b2b;
    -fx-border-width: 1 1 1 1;
}

.table-view-active .placeholder {
    -fx-background-color: #eac1b9;
    -fx-border-color: #992b2b;
    -fx-border-width: 0 1 1 1;
}

.menu-bar .label .text {
    -fx-fill: #d2e7f9;
}

.menu-bar {
    -fx-background-color: #57a8d7;
}

.menu:hover {
    -fx-background-color: #376bc5;
}

.menu-item .label .text {
    -fx-fill: #d2e7f9;
}

.context-menu {
    -fx-background-color: #57a8d7;
    -fx-border-color: #376bc5;
    -fx-border-width: 1 1 1 1;
}

.menu-item {
    -fx-padding: 5 5 5 5;
}

.menu-item:focused {
    -fx-background-color: #376bc5;
}

.menu-item:focused .label .text {
    -fx-background-color: #376bc5;
    -fx-fill: #d2e7f9;
}

.separator {
    /*-fx-background-color: #FAFAFA;*/
}

.separator .line {
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 0;
    -fx-border-color: #376bc5;
}


.button {
    -fx-background-color: #57a8d7,
    linear-gradient(#eaf6fd, #a7d9f5);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: #376bc5;
    -fx-font-size: 11px;
}

.button:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,150,0.6) , 5, 0.0 , 0 , 1 );
}
.button:focused{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,150,0.6) , 5, 0.0 , 0 , 1 );

}
.button:pressed {
    -fx-background-color: #57a8d7,
    linear-gradient(#a7d9f5, #eaf6fd);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,150,0.6) , 3, 0.0 , 0 , 1 );
}

.user-button{
    -fx-background-image: url('../resources/userid.png');
    -fx-background-size: 100% 100%;
}


.text-field {
    -fx-text-fill: #233d7b;
    -fx-background-color: #FAFAFA;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5;
}

.text-area {
    -fx-text-fill: #233d7b;
    -fx-background-color: #FAFAFA;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5
}

.password-field {
    -fx-text-fill: #233d7b;
    -fx-background-color: #FAFAFA;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5
}