.root {
    -fx-text-fill: #376bc5;
    -fx-background-color: #FAFAFA;
}

.table-row-cell:selected .table-cell:odd {
    -fx-background-color: #376bc5;
    -fx-text-fill: white;
    -fx-border-color: #376bc5;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #376bc5;
    -fx-text-fill: white;
    -fx-border-color: #376bc5;
}

.anchor-pane-in-tab {
    -fx-background-color: linear-gradient(#93c2dd 10%, #fafafa 90%);
    -fx-border-color: #376bc5;
    -fx-border-width: 1 0 0 0;
}

.anchor-pane-main {
    -fx-background-color: linear-gradient(#93c2dd 10%, #fafafa 90%);
}

.toggle-button {
    -fx-background-color: #61a4ee,
    linear-gradient(#a7d9f5, #eaf6fd, #a7d9f5);
}

.toggle-button .text {
    -fx-fill: #376bc5;
}

.toggle-button-active:selected {
    -fx-background-color: #c43737,
    linear-gradient(#d17470, #eac1b9, #d17470);
}
.toggle-button-active:selected .text{
    -fx-fill: #992b2b;
    -fx-font-weight: Bold;
}

.toggle-button-closed:selected {
    -fx-background-color: #2d9348,
    linear-gradient(#7ed17c, #d7ffcf, #7ed17c);
}
.toggle-button-closed:selected .text{
    -fx-fill: #397e39;
    -fx-font-weight: Bold;
}


.tab-pane .tab-header-area .tab-label {
    -fx-font-family: System;
    -fx-text-fill: #376bc5;
    -fx-font-size: 11px;
}


.tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color: #93c2dd;
}

.tab-pane .tab-header-area .headers-region .tab {
    -fx-pref-height: 33;
    -fx-background-color: #57a8d7;
    -fx-background-insets: 1, 1, -3, 1;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: #376bc5;
    -fx-border-radius: 5 5 0 0;
    -fx-border-insets: 1, 1, 1, 1;
    /*-fx-border-width: 1 1 0 1;*/
    -fx-border-width: 0;
}

.tab-pane .tab-header-area .headers-region .tab:selected {
    -fx-background-color: #7cb6e3;
    -fx-background-radius: 5 5 0 0;
    -fx-focus-color:  transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    /*-fx-border-color: transparent;*/
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: dotted;
}

.tab-pane .tab-header-area .headers-region .tab:selected .tab-label {
    -fx-text-fill: White;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-border-color: darkgrey;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
}

.table-view .cell {
    -fx-alignment: CENTER-LEFT;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-alignment: CENTER;
}

.table-view-active .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #992b2b;
}

.table-view-active .column-header-background .nested-column-header .table-column {
    -fx-background-color: linear-gradient(#d17470, #eac1b9, #d17470);
    -fx-border-color: #992b2b;
    -fx-border-width: 0 1 0 0;
}

.table-view-active .column-header-background .nested-column-header {
    -fx-border-color: #992b2b;
    -fx-border-width: 1 1 1 1;
}

.table-view-active .placeholder {
    -fx-background-color: #ead6d3;
    -fx-border-color: #992b2b;
    -fx-border-width: 0 1 1 1;
}

.table-view-active .cell {
    -fx-background-color: #ead6d3;
    -fx-text-fill: #671C1C;
}

.table-view-active .cell:odd {
    -fx-background-color: #e6d2cf;
    -fx-text-fill: #671C1C;
}

.table-view-closed .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #397e39;
}

.table-view-closed .column-header-background .nested-column-header .table-column {
    -fx-background-color: linear-gradient(#7ed17c, #d7ffcf, #7ed17c);
    -fx-border-color: #397e39;
    -fx-border-width: 0 1 0 0;
}

.table-view-closed .column-header-background .nested-column-header {
    -fx-border-color: #397e39;
    -fx-border-width: 1 1 1 1;
}

.table-view-closed .placeholder {
    -fx-background-color: #deffd9;
    -fx-border-color: #397e39;
    -fx-border-width: 0 1 1 1;
}

.table-view-closed .cell {
    -fx-background-color: #deffd9;
    -fx-text-fill: #234723;
}

.table-view-closed .cell:odd {
    -fx-background-color: #dbfbd6;
    -fx-text-fill: #234723;
}

.menu-bar .label .text {
    -fx-fill: #d2e7f9;
}

.menu-bar {
    -fx-background-color: #57a8d7;
}

.menu:hover {
    -fx-background-color: #376bc5;
}

.menu-item .label .text {
    -fx-fill: #d2e7f9;
}

.context-menu {
    -fx-background-color: #57a8d7;
    -fx-border-color: #376bc5;
    -fx-border-width: 1 1 1 1;
}

.menu-item {
    -fx-padding: 5 5 5 5;
}

.menu-item:focused {
    -fx-background-color: #376bc5;
}

.menu-item:focused .label .text {
    -fx-background-color: #376bc5;
    -fx-fill: #d2e7f9;
}

.separator .line {
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 0;
    -fx-border-color: #376bc5;
}


.button {
    -fx-background-color: #61a4ee,
    linear-gradient(#a7d9f5, #eaf6fd, #a7d9f5);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: #376bc5;
    -fx-font-size: 11px;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 150, 0.6), 5, 0.0, 0, 1);
}

.button:focused {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: dotted;
}

.button:pressed {
    -fx-background-color: #57a8d7,
    linear-gradient(#eaf6fd, #a7d9f5, #eaf6fd);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 150, 0.6), 3, 0.0, 0, 1);
    -fx-label-padding: 2 0 0 2;
}

.user-button {
    -fx-background-image: url('../resources/userid.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}
.user-button:pressed {
    -fx-background-image: url('../resources/userid.png');
    -fx-background-size: 98% 98%;
    -fx-background-color: transparent;
}

.user-button:focused {
    -fx-border-color: transparent;
}

.main-label .text {
    -fx-fill: linear-gradient(#6c98d3, #eaf6fd, #6c98d3);
}

.text-field {
    -fx-text-fill: #233d7b;
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 5;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5;
}

.text-area {
    -fx-text-fill: #233d7b;
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 5;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5
}

.password-field {
    -fx-text-fill: #233d7b;
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 5;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5
}

.combo-box:editable .text-field{
    -fx-text-fill: #233d7b;
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 5 5 5 5;
    -fx-background-insets: 1 1 1 1;
    -fx-border-color: #57a8d7;
    -fx-border-radius: 5 0 0 5
}

.combo-box:editable {
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 5 5 5 5;
    -fx-background-insets: 1 1 1 1;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.combo-box:editable .arrow-button{
    -fx-background-color: #a7d9f5;
    -fx-background-radius: 0 5 5 0;
    -fx-border-color: #57a8d7;
    -fx-border-width: 1 1 1 0;
    -fx-border-radius:  0 5 5 0
}